img {
  width: 100px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 1fr auto;
}

.user {
  margin: auto 10px;
}

.number {
  margin: auto 10px 10px auto;
}

.flex1 {
  flex-grow: 1;
}

.justify-between {
  justify-content: space-between;
}

.mt-2 {
  margin: 8px 0;
}

.align-left {
  text-align: end;
}

.button {
  margin-top: 50px;
  background-color: beige;
  padding: 10px 20px;
  border: black solid 2px;
}

.form {
  width: fit-content;
  margin: 2rem auto;
}

.field {
  display: flex;
  margin: 20px 0;
}

.butonn {
  width: 265px;
}
